.certificates{
	padding: 10px;
}

.certificate{
	width: 430px;
	height: 430px;

	display: inline-block;
	margin: 10px;
}

.certificate img{
	width: 400px;
	height: 310px;
	margin: 15px;
	border-radius: 3px;
}

.certificate figcaption{
	font-weight: bolder;
	margin: 0 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.certificate figcaption .title{
	display: inline-block;
	width: 370px;
}

.certificate figcaption .description{
	color: #999999;
	font-weight: normal;
	font-size: 13px;
	opacity: 0;
	transition: .5s;
}

.certificate .foreground{
	width: 400px;
	height: 310px;
	margin: 15px;
	border-radius: 3px;

	position: absolute;
	background-color: rgba(0,0,0,.8);
	color: #FFFFFF;
	
	text-decoration: none;
	line-height: 310px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;

	opacity: 0;

	transition: .25s;
}

.certificate .foreground:hover, .certificate .foreground:focus{
	opacity: 1;
}

.certificate .background{
	width: 430px;
	height: 430px;

	background-color: #1b1f1d;
	border-radius: 10px;

	display: inline-block;
	position: absolute;


	transform: scale(.9,.9) translate(-5%,-5%);
	transition: .25s;
	z-index: -1;
}

.certificate:hover .background{
	transform: none;
}

.certificate:hover .description{
	opacity: 1;
}