body{
    background-color: #000000;
    margin: 0px;

    font-size: 16px;
    font-family:"Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background-color: #141414;
    color: #FFFFFF;
}

header img{
    width: 50px;
    margin: 20px 5px 20px 20px;
    display: inline-block;
    float: left;

    transition: width 1s, transform 1s;
}

header img:hover{
    width: 55px;
    transform: rotate(360deg);
}

header h1{
    float: left;
    margin:20px;
    padding-top: 10px;

    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
}

header nav{
    clear:both;
    background-color: #303633;
    color:#BFBFBF;
    font-family: Arial;
    
    height: 40px;
}

header nav a{
    color: #4FC3F7;
    text-decoration: none;
    text-align: center;

    margin: 0;
    display: inline-block;
    float: left;
    line-height: 40px;

    height: 40px;
    width: 100px;

    border-right: solid 1px #404643;

    transition: width .5s;
}

header nav a:last-child{
    border-right: 0;
}

header nav a.current{
    background-color: #202623;
}

header nav a:hover{
    background-color: #404643;
    color:#4FC3F7;
    width: 120px;
}

a{
    color: #4FC3F7;
}

a:hover{
    color:#2F83AF;
}

a:active{ /* When clicked */
    color: #0F586F;

}

main{
    padding: 1% 5%;
}

section{
    border-bottom: solid 1px #404040;
}

h2{
    font-size: 1.5rem;
    color:#FFFFFF;
    padding: 10px;
    border-bottom: solid 1px #FFFFFF;
}

h3{
    font-size: 1.17rem;
    color:#FFFFFF;
    background-color: #303633;
    padding: 10px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

p{
    font-size: 1rem;
    color: #B0B0B0;
}

footer{
    color: #FFFFFF;
    background-color: #303633;
    padding: 10px;
    font-size: 14px;
    font-family:"Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}