/* Default style */
body{
    background-color: #000000;
    margin: 0px;

    font-size: 16px;
    font-family:"Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header */
header{
    background-color: #141414;
    color: #FFFFFF;
}

header img{
    width: 50px;
    margin: 20px 5px 20px 20px;
    display: inline-block;
    float: left;

    transition: width 1s, transform 1s;
}

header img:hover{
    width: 55px;
    transform: rotate(360deg);
}

header h1{
    float: left;
    margin:20px;
    padding-top: 10px;

    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
}

header nav{
    clear:both;
    background-color: #303633;
    color:#BFBFBF;
    font-family: Arial;
    
    height: 40px;
}

header nav a{
    color: #4FC3F7;
    text-decoration: none;
    text-align: center;

    margin: 0;
    display: inline-block;
    float: left;
    line-height: 40px;

    height: 40px;
    width: 100px;

    border-right: solid 1px #404643;

    transition: width .5s;
}

header nav a:last-child{
    border-right: 0;
}

header nav a.current{
    background-color: #202623;
}

header nav a:hover{
    background-color: #404643;
    color:#4FC3F7;
    width: 110px;
    text-decoration: none;
}


/* Footer */
footer{
    color: #FFFFFF;
    background-color: #0E0E0E;
    padding: 30px 5%;
    font-size: 14px;
    font-family: Graphik, "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer table{
    text-align: left;
    display: inline-block;
    float: left;
    margin-right: 50px;
}

footer table th, footer table td{
    width: 200px;
}

footer table th{
    font-size: 15px;
    padding: 5px 3px; 
}

footer table th a{
    color: #FFFFFF;
}

footer table th a:hover{
    color: #FFFFFF;
}

footer table td{
    color: #999999;
    font-size: 13px;
    padding: 3px;
}

footer > .info{
    border-bottom: solid 1px #666666;
    margin-bottom: 20px;
}

footer > .info div{
    height: 130px 
}

footer > .info div:last-child{
    height: 200px 
}

footer span{
    color: #999999;
    font-size: 12px;
}

footer a{
    color: #999999;
    text-decoration: none;
}

footer a:hover{
    color: #999999;
    text-decoration: underline;
}


/* Misselanius */
a{
    color: #4FC3F7;
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: underline;
}

a:active{ /* When clicked */
    color: #0F586F;

}

main{
    padding: 1% 5%;
}

section{
    border-bottom: solid 1px #606060;
    margin-bottom: 40px;
}

h2{
    font-size: 24px;
    color:#FFFFFF;
    padding: 10px;
    border-bottom: solid 1px #FFFFFF;
}

h3{
    font-size: 19px;
    color:#FFFFFF;
    background-color: #303633;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

h4{
    color: #FFFFFF;
    margin-bottom: 0;
}

p{
    font-size: 14px;
    color: #ABABAB;
    margin: 10px 0 30px 0;
}



.fab{
    color: #00BF71;
}