body{
    background-color: #F1E3D3;
    margin: 0px;
}

header{
    text-align: center;
    background-color: #2D5D7B;
    color: #FFFFFF;
    font-size: 150%;
}

h1{
    padding: 10px;
}

p{
    color: #303633;
}

nav{
    background-color: #457EAC;
    font-family: Arial;
    
    padding: 10px;
}

a{
    text-decoration: none;
    color:#FFFFFF;
}

h2{
    color:#FFFFFF;
    background-color: rgba(69, 126, 172, .7);
    padding: 10px;
}


footer{
    color: #FFFFFF;
    background-color: #457EAC;
    padding: 10px;
}
