body{
    background-color: #F1E3D3;
}

header{
    text-align: center;
    background-color: #2D5D7B;
    color: #FFFFFF;
}

p{
    color: #303633;
}

nav{
    background-color: #457EAC;
}

a{
    text-decoration: none;
    color:#FFFFFF;
}

h2{
    color:#FFFFFF;
    background-color: #DA3E52;
}

footer{
    color: #FFFFFF;
    background-color: #457EAC;
}